@use '../../scss/mixin' as mixin;

.tab-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 66px;
    position: absolute;
    left: 0;
    bottom: 0;
    @include mixin.layoutGutter();

    .tab-button {
        display: block;
        height: 44px;
        width: 44px;
        background: #a6ff00;
        text-indent: -9999px;
    }
}