html {
  font-size: 10px;
  line-height: 1.25;
}

body {
  font-family: var(--font-wanted);
  background: #545dfd;
  overflow-x: hidden;
}
body * {
  font: inherit;
}
body,
body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body .wrap {
  max-width: 500px;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a,
a:visited {
  text-decoration: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
}

input {
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
  width: 100%;
}